@charset "UTF-8";
.section__Lead {
  margin-top: 211px;
  margin-bottom: 85px; }
  @media screen and (max-width: 414px) {
    .section__Lead {
      margin-top: 100px;
      margin-bottom: 30px;
      padding: 0 5%; } }
  .section__Lead-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 92px; }
    @media screen and (max-width: 414px) {
      .section__Lead-title {
        font-size: 35px;
        margin-bottom: 45px; } }
  .section__Lead-text {
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
    text-align: center; }
    @media screen and (max-width: 414px) {
      .section__Lead-text {
        font-size: 14px;
        text-align: left;
        line-height: 1.5; } }

@media screen and (max-width: 414px) {
  .servicePage {
    margin-bottom: 170px; } }

.servicePage__List-item {
  padding: 95px 0 110px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08); }
  @media screen and (max-width: 414px) {
    .servicePage__List-item {
      padding: 30px 5% 20px; } }
  .servicePage__List-item .inner {
    display: flex;
    justify-content: center;
    max-width: 1520px;
    width: 90%;
    margin: 0 auto; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item .inner {
        display: block;
        width: 100%;
        max-width: inherit; } }
  .servicePage__List-item-img {
    width: 307px;
    margin-right: 51px; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item-img {
        width: 200px;
        margin: 0 auto 25px; } }
    .servicePage__List-item-img img {
      width: 100%;
      height: 305px;
      object-position: center;
      object-fit: contain; }
      @media screen and (max-width: 414px) {
        .servicePage__List-item-img img {
          height: auto; } }
  .servicePage__List-item-contents {
    width: 1130px; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item-contents {
        width: 100%; } }
  .servicePage__List-item-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 44px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item-title {
        font-size: 20px;
        color: #5576FF;
        text-align: center;
        margin-bottom: 27px; } }
  .servicePage__List-item-text {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 31px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item-text {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 35px; } }
  .servicePage__List-item-tagList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -1%; }
    @media screen and (max-width: 414px) {
      .servicePage__List-item-tagList {
        margin-left: 0;
        display: block; } }
    .servicePage__List-item-tagList-item {
      width: 350px;
      margin-left: 1%;
      background: #F5F5F5;
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
      padding: 16px 2px; }
      @media screen and (max-width: 1519px) {
        .servicePage__List-item-tagList-item {
          width: 325px; } }
      @media screen and (max-width: 414px) {
        .servicePage__List-item-tagList-item {
          width: 100%;
          font-size: 14px;
          padding: 8px 0;
          margin-left: 0; } }

.section__Lead {
  margin-top: 211px;
  margin-bottom: 95px; }
  @media screen and (max-width: 414px) {
    .section__Lead {
      margin-top: 100px;
      margin-bottom: 50px;
      padding: 0; } }
  .section__Lead-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 92px; }
    @media screen and (max-width: 414px) {
      .section__Lead-title {
        font-size: 35px;
        margin-bottom: 35px; } }

.section__menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1520px;
  width: 90%;
  margin: 0 auto 50px;
  border-bottom: 1px solid #C4C4C4; }
  @media screen and (max-width: 414px) {
    .section__menuList {
      width: 100%;
      max-width: inherit;
      margin-bottom: 20px; } }
  .section__menuList-item {
    width: 240px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    transition: all .3s; }
    @media screen and (max-width: 414px) {
      .section__menuList-item {
        width: 30%;
        padding-bottom: 8px; } }
    .section__menuList-item:hover {
      cursor: pointer;
      opacity: .4; }
    .section__menuList-item:hover:before {
      animation: lineHover .4s ease-in-out both; }
    .section__menuList-item:before {
      width: 0;
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      background: #5E85FF;
      height: 5px; }

@keyframes lineHover {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
  .section__menuList a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
    @media screen and (max-width: 414px) {
      .section__menuList a {
        font-size: 12px; } }

.newsPage {
  margin-bottom: 200px; }
  @media screen and (max-width: 414px) {
    .newsPage {
      margin-bottom: 140px; } }
  .newsPage .news__contents {
    margin-bottom: 70px; }
    @media screen and (max-width: 414px) {
      .newsPage .news__contents {
        margin-bottom: 50px; } }
    @media screen and (max-width: 414px) {
      .newsPage .news__contents .news__List-item-thumbnail {
        height: 228px; }
        .newsPage .news__contents .news__List-item-thumbnail img {
          height: 228px; } }

.newsSinglePage {
  background: #F5F5F5;
  margin-top: 150px;
  padding-bottom: 200px; }
  @media screen and (max-width: 414px) {
    .newsSinglePage {
      margin-top: 90px;
      padding-bottom: 140px; } }
  .newsSinglePage .news__article {
    background: #fff;
    padding-bottom: 150px; }
    @media screen and (max-width: 414px) {
      .newsSinglePage .news__article {
        padding-bottom: 68px; } }
    .newsSinglePage .news__article .inner {
      max-width: 1290px;
      margin: 0 auto;
      width: 90%; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__article .inner {
          max-width: inherit; } }
    .newsSinglePage .news__articleNotes {
      display: flex;
      margin-bottom: 100px; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__articleNotes {
          display: block;
          margin-bottom: 25px; } }
    .newsSinglePage .news__article-info {
      width: 860px;
      margin-right: 120px; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__article-info {
          width: 100%;
          margin-right: 0;
          margin-bottom: 17px; } }
      .newsSinglePage .news__article-info-topic {
        font-size: 20px;
        color: #5576FF;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: 25px; }
        @media screen and (max-width: 414px) {
          .newsSinglePage .news__article-info-topic {
            padding-bottom: 8px;
            margin-bottom: 15px;
            font-size: 15px; } }
      .newsSinglePage .news__article-info-title {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5; }
        @media screen and (max-width: 414px) {
          .newsSinglePage .news__article-info-title {
            font-size: 20px; } }
    .newsSinglePage .news__article-sub {
      min-height: 90px;
      padding-top: 24px;
      border-left: 5px solid #5576FF;
      padding-left: 30px;
      padding-bottom: 5px; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__article-sub {
          min-height: inherit;
          padding: 0;
          border: none; } }
      .newsSinglePage .news__article-sub-date {
        font-size: 20px;
        margin-bottom: 15px; }
        @media screen and (max-width: 414px) {
          .newsSinglePage .news__article-sub-date {
            font-size: 15px;
            margin-bottom: 7px; } }
      .newsSinglePage .news__article-sub-category-item {
        font-size: 20px;
        line-height: 1.3; }
        @media screen and (max-width: 414px) {
          .newsSinglePage .news__article-sub-category-item {
            font-size: 15px; } }
        @media screen and (max-width: 1519px) {
          .newsSinglePage .news__article-sub-category-item span {
            display: inline-block; } }
        @media screen and (max-width: 414px) {
          .newsSinglePage .news__article-sub-category-item span {
            display: inline; } }
    .newsSinglePage .news__article-contents pre, .newsSinglePage .news__article-contents span, .newsSinglePage .news__article-contents a, .newsSinglePage .news__article-contents p {
      line-height: 1.7;
      font-size: 20px;
      margin-bottom: 42px; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__article-contents pre, .newsSinglePage .news__article-contents span, .newsSinglePage .news__article-contents a, .newsSinglePage .news__article-contents p {
          font-size: 14px;
          line-height: 1.8;
          margin-bottom: 27px; } }
    .newsSinglePage .news__article-contents img {
      width: 100%;
      margin-bottom: 50px; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__article-contents img {
          margin-bottom: 30px; } }
  .newsSinglePage .news__contents {
    padding-top: 96px;
    margin-bottom: 70px; }
    @media screen and (max-width: 414px) {
      .newsSinglePage .news__contents {
        padding-top: 56px;
        margin-bottom: 50px; } }
    .newsSinglePage .news__contents-title {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 94px;
      text-align: center; }
      @media screen and (max-width: 414px) {
        .newsSinglePage .news__contents-title {
          margin-bottom: 52px;
          font-size: 35px; } }
    @media screen and (max-width: 414px) {
      .newsSinglePage .news__contents .news__List-item-thumbnail {
        height: 228px; }
        .newsSinglePage .news__contents .news__List-item-thumbnail img {
          height: 228px; } }

* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Lato", sans-serif; }

@media screen and (max-width: 1519px) {
  #wrap {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  #wrap {
    width: 1500px;
    margin: 0 auto;
    overflow: hidden; } }

@media screen and (max-width: 414px) {
  #wrap {
    width: 100%; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  height: 100px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 5; }
  @media screen and (max-width: 414px) {
    .header {
      height: 60px; } }
  .header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 0 auto;
    width: 90%;
    height: 100%; }
    @media screen and (max-width: 414px) {
      .header .inner {
        width: 95%;
        max-width: inherit;
        display: block;
        padding-top: 25px;
        position: relative; } }
  @media screen and (max-width: 414px) {
    .header__logo {
      width: 70px; } }
  .header__logo a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s; }
    .header__logo a:hover {
      opacity: 0.4; }
  @media screen and (max-width: 414px) {
    .header .navMenu {
      display: none; }
      .header .navMenu.on {
        background: rgba(255, 255, 255, 0.8);
        width: 100%;
        margin: auto;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding-top: 150px;
        display: block;
        animation: fadeslide .2s linear forwards; }
    @keyframes fadeslide {
      0% {
        transform: translateY(-100px); }
      100% {
        transform: translateY(0); } } }
  .header .navMenu__List {
    display: flex; }
    @media screen and (max-width: 414px) {
      .header .navMenu__List {
        display: block; } }
    .header .navMenu__List-item {
      margin-left: 50px;
      text-align: center; }
      @media screen and (max-width: 414px) {
        .header .navMenu__List-item {
          margin-left: 0;
          margin-bottom: 35px; } }
      .header .navMenu__List-item a {
        color: #000;
        font-size: 20px;
        transition: all 0.3s; }
        .header .navMenu__List-item a:hover {
          opacity: 0.4; }
  .header .navSp__Button {
    display: none; }
    @media screen and (max-width: 414px) {
      .header .navSp__Button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 16px;
        background: url("../img/header/icon_nav_01.svg") no-repeat center center;
        background-size: contain;
        z-index: 5;
        transition: 0.2s; }
        .header .navSp__Button.on {
          width: 20px;
          height: 20px;
          background: url("../img/header/icon_nav_02.svg") no-repeat center center;
          background-size: contain;
          animation: rotateNav .2s ease-in forwards; }
      @keyframes rotateNav {
        0% {
          transform: rotate(0); }
        100% {
          transform: rotate(180deg); } } }

.mainVisual {
  width: 100%;
  height: 983px;
  overflow: hidden;
  position: relative;
  margin: 100px auto 110px; }
  @media screen and (max-width: 414px) {
    .mainVisual {
      height: 584px;
      margin: 60px auto 56px; } }
  .mainVisual #movie {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    filter: opacity(0.8); }
  .mainVisual__Lead {
    max-width: 1520px;
    margin: 0 auto;
    width: 90%;
    padding-top: 319px; }
    @media screen and (max-width: 414px) {
      .mainVisual__Lead {
        width: 95%;
        max-width: inherit;
        padding-top: 144px; } }
    .mainVisual__Lead-title {
      font-size: 70px;
      color: #5576ff;
      font-weight: bold;
      margin-bottom: 20px;
      opacity: 0;
      text-shadow: 1px 1px 45px rgba(255, 255, 255, 0.7);
      transition: 1s; }
      @media screen and (max-width: 414px) {
        .mainVisual__Lead-title {
          font-size: 39px;
          line-height: 1.2; } }
      .mainVisual__Lead-title.in-visible {
        opacity: 1;
        animation: fadeIn 0.5s ease-out forwards; }
    .mainVisual__Lead-sub {
      font-size: 20px;
      color: #5576ff;
      line-height: 1.6;
      font-weight: bold;
      opacity: 0;
      text-shadow: 1px 1px 45px rgba(255, 255, 255, 0.7);
      transition: 1s; }
      @media screen and (max-width: 414px) {
        .mainVisual__Lead-sub {
          font-size: 13px; } }
      .mainVisual__Lead-sub.in-visible {
        opacity: 1;
        animation: fadeIn 0.5s ease-out forwards; }

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.service .contents__title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 95px; }
  @media screen and (max-width: 414px) {
    .service .contents__title {
      font-size: 35px;
      margin-bottom: 45px; } }

.service__contents {
  margin-bottom: 100px; }
  @media screen and (max-width: 414px) {
    .service__contents {
      margin-bottom: 50px; } }
  .service__contents .service__itemsList {
    display: flex;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px; }
    @media screen and (max-width: 414px) {
      .service__contents .service__itemsList {
        display: block; } }
    .service__contents .service__itemsList-item {
      position: relative;
      width: 50%; }
      @media screen and (max-width: 414px) {
        .service__contents .service__itemsList-item {
          width: 100%; } }
      .service__contents .service__itemsList-item:nth-child(1) {
        padding: 100px 110px 0; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item:nth-child(1) {
            padding: 50px 3% 0; } }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item:nth-child(1) {
            padding: 45px 5% 0; } }
      .service__contents .service__itemsList-item-title {
        font-size: 30px;
        font-weight: bold;
        color: #000;
        margin-bottom: 54px;
        text-align: center; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item-title {
            margin-bottom: 40px; } }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item-title {
            font-size: 20px;
            margin-bottom: 45px; } }
      .service__contents .service__itemsList-item-text {
        font-size: 20px;
        color: #000;
        line-height: 1.5;
        height: 163px; }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item-text {
            height: auto;
            font-size: 14px;
            margin-bottom: 25px; } }
      .service__contents .service__itemsList-item-button {
        width: 300px;
        height: 65px;
        line-height: 65px;
        margin: 0 auto;
        text-align: center;
        transition: all 0.2s;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05); }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item-button {
            width: 200px;
            height: 50px;
            line-height: 50px;
            margin-bottom: 25px; } }
        .service__contents .service__itemsList-item-button:hover {
          opacity: 0.6;
          box-shadow: 0 20px 80px rgba(0, 0, 0, 0.09); }
        .service__contents .service__itemsList-item-button a {
          font-size: 20px;
          color: #000;
          font-weight: bold;
          display: block;
          width: 100%;
          height: 100%;
          font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
          @media screen and (max-width: 414px) {
            .service__contents .service__itemsList-item-button a {
              font-size: 15px; } }
      .service__contents .service__itemsList-item-tag {
        width: 220px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #5576ff;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
        color: #fff; }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item-tag {
            font-size: 13px;
            width: 170px;
            height: 30px;
            line-height: 30px;
            z-index: 2; } }
      @media screen and (max-width: 414px) {
        .service__contents .service__itemsList-item-img {
          transition: all .3s; }
          .service__contents .service__itemsList-item-img:hover {
            opacity: .6;
            transform: scale(0.97);
            padding: 5px;
            border: 1px solid #ddd; } }
      .service__contents .service__itemsList-item-img img {
        width: 100%; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item-img img {
            object-fit: cover;
            height: 410px;
            overflow: hidden;
            object-position: -20px 10px; } }
        @media screen and (max-width: 414px) {
          .service__contents .service__itemsList-item-img img {
            height: auto;
            object-position: center; } }

.service__Link-Button {
  width: 660px;
  margin: 0 auto 200px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 414px) {
    .service__Link-Button {
      width: 100%;
      display: block;
      margin-bottom: 145px; } }
  .service__Link-Button-item {
    width: 300px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border: 3px solid #000; }
    @media screen and (max-width: 414px) {
      .service__Link-Button-item {
        width: 200px;
        height: 50px;
        line-height: 50px;
        border: 2px solid #000;
        margin: 0 auto; }
        .service__Link-Button-item:nth-child(n+ 2) {
          margin-top: 20px; } }
    .service__Link-Button-item a {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
      @media screen and (max-width: 414px) {
        .service__Link-Button-item a {
          font-size: 15px; } }
      .service__Link-Button-item a:hover {
        opacity: 0.5; }

.news {
  background: #f5f5f5;
  padding: 110px 0 200px; }
  @media screen and (max-width: 414px) {
    .news {
      padding: 0 0 200px;
      background: none; } }
  .news .contents__title {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 95px; }
    @media screen and (max-width: 414px) {
      .news .contents__title {
        font-size: 35px;
        margin-bottom: 42px; } }
  .news__contents {
    width: 90%;
    max-width: 1520px;
    margin: 0 auto 100px; }
    @media screen and (max-width: 414px) {
      .news__contents {
        width: 100%;
        max-width: inherit;
        margin: 0 auto 50px; } }
    .news__contents .news__List {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media screen and (max-width: 414px) {
        .news__contents .news__List {
          display: block; } }
      .news__contents .news__List-item {
        max-width: 745px;
        width: 48%;
        background: #fff;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        padding-bottom: 45px;
        position: relative; }
        @media screen and (max-width: 414px) {
          .news__contents .news__List-item {
            max-width: inherit;
            width: 100%;
            padding-bottom: 5%; } }
        .news__contents .news__List-item-tag {
          position: absolute;
          left: 0;
          top: 0;
          width: 140px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background: #5576ff;
          z-index: 2; }
          @media screen and (max-width: 414px) {
            .news__contents .news__List-item-tag {
              width: 123px;
              height: 30px;
              line-height: 30px;
              font-size: 13px; } }
        .news__contents .news__List-item-thumbnail {
          height: 450px;
          margin-bottom: 25px;
          position: relative;
          text-align: center; }
          @media screen and (max-width: 1519px) {
            .news__contents .news__List-item-thumbnail {
              height: 340px;
              overflow: hidden; } }
          @media screen and (max-width: 414px) {
            .news__contents .news__List-item-thumbnail {
              max-height: inherit;
              margin-bottom: 15px;
              height: 375px; } }
          .news__contents .news__List-item-thumbnail img {
            height: 450px;
            object-fit: contain;
            object-position: center; }
            @media screen and (max-width: 1519px) {
              .news__contents .news__List-item-thumbnail img {
                height: 340px; } }
            @media screen and (max-width: 414px) {
              .news__contents .news__List-item-thumbnail img {
                height: 375px; } }
        .news__contents .news__List-item-date {
          padding: 0 30px;
          font-size: 15px;
          color: #000;
          margin-bottom: 20px; }
          @media screen and (max-width: 414px) {
            .news__contents .news__List-item-date {
              font-size: 14px;
              margin-bottom: 10px;
              padding: 0 5%; } }
        .news__contents .news__List-item-title {
          padding: 0 30px;
          font-size: 30px;
          line-height: 1.6;
          margin-bottom: 15px;
          color: #000;
          font-weight: bold; }
          @media screen and (max-width: 414px) {
            .news__contents .news__List-item-title {
              font-size: 20px;
              margin-bottom: 17px;
              padding: 0 5%;
              line-height: 1.4; } }
        .news__contents .news__List-item-text {
          padding: 0 30px;
          font-size: 20px;
          color: #000;
          line-height: 1.6; }
          @media screen and (max-width: 414px) {
            .news__contents .news__List-item-text {
              font-size: 14px;
              padding: 0 5%; } }
  .news__Link-Button {
    display: flex;
    justify-content: center;
    align-items: center; }
    .news__Link-Button-item {
      width: 300px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      border: 3px solid #000; }
      @media screen and (max-width: 414px) {
        .news__Link-Button-item {
          width: 200px;
          height: 50px;
          line-height: 50px;
          border: 2px solid #000; } }
      .news__Link-Button-item a {
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.3s; }
        @media screen and (max-width: 414px) {
          .news__Link-Button-item a {
            font-size: 15px; } }
        .news__Link-Button-item a:hover {
          opacity: 0.5; }

.contact {
  background: url("../img/top/contact_bg_01.svg") repeat center;
  background-size: cover; }
  @media screen and (max-width: 414px) {
    .contact {
      padding: 50px 0 95px; } }
  .contact .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 0 auto;
    width: 90%;
    height: 250px; }
    @media screen and (max-width: 1519px) {
      .contact .inner {
        width: 95%; } }
    @media screen and (max-width: 414px) {
      .contact .inner {
        display: block;
        max-width: inherit;
        height: auto;
        width: 100%; } }
  .contact .contents__title {
    font-size: 50px;
    font-weight: bold;
    color: #fff; }
    @media screen and (max-width: 414px) {
      .contact .contents__title {
        font-size: 35px;
        margin-bottom: 42px;
        text-align: center; } }
  .contact__info {
    margin-left: 290px; }
    @media screen and (max-width: 1519px) {
      .contact__info {
        margin-left: 0; } }
    .contact__info-text {
      font-size: 20px;
      color: #fff;
      line-height: 1.3;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
      @media screen and (max-width: 414px) {
        .contact__info-text {
          font-size: 14px;
          text-align: center;
          line-height: 1.5;
          margin-bottom: 5px; }
          .contact__info-text span {
            display: block; } }
    .contact__info-tel {
      font-size: 30px;
      color: #fff;
      line-height: 1.4;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
      font-weight: bold; }
      @media screen and (max-width: 414px) {
        .contact__info-tel {
          text-align: center;
          font-size: 20px;
          padding: 0 5%;
          margin-bottom: 38px; } }
      .contact__info-tel a {
        font-size: 30px;
        color: #fff;
        transition: all .3s;
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
        @media screen and (max-width: 414px) {
          .contact__info-tel a {
            text-align: center;
            font-size: 20px;
            padding: 0 5%; } }
        .contact__info-tel a:hover {
          opacity: .4; }
  .contact__Link-Button {
    width: 309px;
    height: 65px;
    line-height: 65px;
    border: 3px solid #fff;
    text-align: center; }
    @media screen and (max-width: 414px) {
      .contact__Link-Button {
        width: 270px;
        height: auto;
        text-align: center;
        line-height: inherit;
        margin: 0 auto;
        padding: 6px 0; } }
    .contact__Link-Button a {
      font-size: 20px;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      transition: all .3s;
      color: #fff; }
      @media screen and (max-width: 414px) {
        .contact__Link-Button a {
          line-height: 1.3; }
          .contact__Link-Button a span {
            display: block; } }
      .contact__Link-Button a:hover {
        opacity: .4; }

.footer {
  background: #5576ff;
  padding: 100px 0 30px; }
  @media screen and (max-width: 414px) {
    .footer {
      padding: 50px 0 15px; } }
  .footer__back {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #fff;
    right: -100px;
    bottom: 30px; }
    @media screen and (max-width: 1519px) {
      .footer__back {
        right: -20px; } }
    @media screen and (max-width: 414px) {
      .footer__back {
        width: 50px;
        height: 50px;
        bottom: 0;
        right: 0;
        position: fixed; } }
    .footer__back a {
      display: block;
      width: 100%;
      height: 100%;
      transition: all .3s;
      text-indent: -99999px;
      position: relative; }
      .footer__back a:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20px;
        margin: auto;
        border-top: 3px solid #0076FF;
        border-left: 3px solid #0076FF;
        width: 20px;
        height: 20px;
        transform: rotate(45deg); }
        @media screen and (max-width: 414px) {
          .footer__back a:before {
            border-top: 2px solid #0076FF;
            border-left: 2px solid #0076FF;
            width: 15px;
            height: 15px;
            top: 15px; } }
      .footer__back a:hover {
        opacity: .4; }
  .footer .inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1520px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative; }
    @media screen and (max-width: 1519px) {
      .footer .inner {
        width: 95%; } }
    @media screen and (max-width: 414px) {
      .footer .inner {
        width: 90%;
        display: block;
        max-width: inherit; } }
  .footer .footer__info {
    margin-bottom: 270px; }
    @media screen and (max-width: 1519px) {
      .footer .footer__info {
        width: 30%; } }
    @media screen and (max-width: 414px) {
      .footer .footer__info {
        width: 90%;
        margin: 0 auto;
        position: relative; } }
    .footer .footer__info-logo {
      margin-bottom: 55px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-logo {
          width: 150px;
          margin: 0 auto 45px; } }
    .footer .footer__info-name {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 12px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-name {
          font-size: 19px;
          margin-bottom: 23px; } }
    .footer .footer__info-add {
      font-size: 20px;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 45px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-add {
          font-size: 14px;
          margin-bottom: 30px; } }
      .footer .footer__info-add span {
        display: block; }
    .footer .footer__info-Link {
      width: 300px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      border: 1px solid #fff; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-Link {
          width: 100%;
          margin: 0 auto 62px;
          height: 50px;
          line-height: 50px; } }
      .footer .footer__info-Link a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: #fff;
        transition: all 0.3s; }
        .footer .footer__info-Link a:hover {
          opacity: 0.5; }
  .footer__snsList {
    position: absolute;
    left: 0;
    bottom: 150px; }
    @media screen and (max-width: 414px) {
      .footer__snsList {
        position: static;
        margin-bottom: 100px;
        display: flex;
        justify-content: center; } }
    @media screen and (max-width: 414px) {
      .footer__snsList-item {
        width: 40px;
        height: 40px; } }
    .footer__snsList-item a {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
      .footer__snsList-item a:hover {
        opacity: 0.5; }
  .footer__copy {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    position: absolute;
    left: 0;
    bottom: 0; }
    @media screen and (max-width: 414px) {
      .footer__copy {
        font-size: 10px;
        text-align: center;
        position: static;
        left: inherit;
        bottom: inherit; } }
  .footer .footer__menu {
    width: 850px;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1519px) {
      .footer .footer__menu {
        width: 65%; } }
    @media screen and (max-width: 414px) {
      .footer .footer__menu {
        width: 100%;
        display: block;
        margin-bottom: 50px; } }
    .footer .footer__menuBox {
      width: 250px;
      margin-left: 50px;
      margin-bottom: 41px; }
      @media screen and (max-width: 1519px) {
        .footer .footer__menuBox {
          width: 28%;
          margin-left: 5%; } }
      @media screen and (max-width: 414px) {
        .footer .footer__menuBox {
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px; } }
      .footer .footer__menuBox:nth-child(1) {
        margin-left: 0; }
      .footer .footer__menuBox:nth-child(4) {
        margin-left: 0; }
      .footer .footer__menuBox-title {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 7px;
        margin-bottom: 10px;
        border-bottom: 1px solid #fff; }
        @media screen and (max-width: 414px) {
          .footer .footer__menuBox-title {
            padding-bottom: 20px;
            margin-bottom: 14px;
            position: relative; }
            .footer .footer__menuBox-title:before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 14px;
              height: 14px;
              border-top: 1.5px solid #fff;
              transition: all 1s; }
            .footer .footer__menuBox-title:after {
              content: '';
              position: absolute;
              right: -8px;
              top: -14px;
              bottom: 0;
              margin: auto;
              width: 14px;
              height: 14px;
              border-left: 1.5px solid #fff;
              transition: all .1s; }
            .footer .footer__menuBox-title.on:before {
              display: none; }
            .footer .footer__menuBox-title.on:after {
              animation: menuslide .1s linear forwards; }
          @keyframes menuslide {
            0% {
              transform: rotate(0); }
            100% {
              top: 0;
              right: 0;
              transform: rotate(90deg); } } }
    @media screen and (max-width: 414px) {
      .footer .footer__menuList {
        display: none; } }
    .footer .footer__menuList-item {
      transition: all .3s; }
      .footer .footer__menuList-item:hover {
        opacity: .4; }
      .footer .footer__menuList-item a {
        font-size: 15px;
        color: #fff;
        line-height: 2;
        display: block;
        width: 100%;
        height: 100%; }
        @media screen and (max-width: 414px) {
          .footer .footer__menuList-item a {
            font-size: 14px;
            padding-left: 5%; } }
