@charset "UTF-8";
* {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  font-family: "Lato", sans-serif; }

@media screen and (max-width: 1519px) {
  #wrap {
    width: 100%; } }

@media screen and (max-width: 1024px) {
  #wrap {
    width: 1500px;
    margin: 0 auto;
    overflow: hidden; } }

@media screen and (max-width: 414px) {
  #wrap {
    width: 100%; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  height: 100px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 5; }
  @media screen and (max-width: 414px) {
    .header {
      height: 60px; } }
  .header .inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 0 auto;
    width: 90%; }
    @media screen and (max-width: 414px) {
      .header .inner {
        width: 95%;
        max-width: inherit;
        display: block;
        padding-top: 25px; } }
  @media screen and (max-width: 414px) {
    .header__logo {
      width: 70px; } }
  .header__logo a {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s; }
    .header__logo a:hover {
      opacity: 0.4; }
  .header .navMenu__List {
    display: flex; }
    @media screen and (max-width: 414px) {
      .header .navMenu__List {
        display: none; } }
    .header .navMenu__List-item {
      margin-left: 50px; }
      .header .navMenu__List-item a {
        color: #000;
        font-size: 20px;
        transition: all 0.3s; }
        .header .navMenu__List-item a:hover {
          opacity: 0.4; }

.mainVisual {
  width: 100%;
  height: 983px;
  overflow: hidden;
  position: relative;
  margin: 100px auto 110px; }
  @media screen and (max-width: 414px) {
    .mainVisual {
      height: 584px;
      margin: 60px auto 56px; } }
  .mainVisual #movie {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    filter: opacity(0.8); }
  .mainVisual__Lead {
    max-width: 1520px;
    margin: 0 auto;
    width: 90%;
    padding-top: 319px; }
    @media screen and (max-width: 414px) {
      .mainVisual__Lead {
        width: 95%;
        max-width: inherit;
        padding-top: 144px; } }
    .mainVisual__Lead-title {
      font-size: 70px;
      color: #5576ff;
      font-weight: bold;
      margin-bottom: 20px;
      opacity: 0;
      text-shadow: 1px 1px 45px rgba(255, 255, 255, 0.7); }
      @media screen and (max-width: 414px) {
        .mainVisual__Lead-title {
          font-size: 39px;
          line-height: 1.2; } }
      .mainVisual__Lead-title.in-visible {
        opacity: 1;
        animation: fadeIn 0.5s ease-out; }
    .mainVisual__Lead-sub {
      font-size: 20px;
      color: #5576ff;
      line-height: 1.6;
      font-weight: bold;
      opacity: 0;
      text-shadow: 1px 1px 45px rgba(255, 255, 255, 0.7); }
      @media screen and (max-width: 414px) {
        .mainVisual__Lead-sub {
          font-size: 13px; } }
      .mainVisual__Lead-sub.in-visible {
        opacity: 1;
        animation: fadeIn 0.5s ease-out; }

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.service .contents__title {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 95px; }
  @media screen and (max-width: 414px) {
    .service .contents__title {
      font-size: 35px;
      margin-bottom: 45px; } }

.service__contents {
  margin-bottom: 100px; }
  .service__contents .service__itemsList {
    display: flex;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px; }
    .service__contents .service__itemsList-item {
      position: relative;
      width: 50%; }
      .service__contents .service__itemsList-item:nth-child(1) {
        padding: 100px 110px 0; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item:nth-child(1) {
            padding: 50px 3% 0; } }
      .service__contents .service__itemsList-item-title {
        font-size: 30px;
        font-weight: bold;
        color: #000;
        margin-bottom: 54px;
        text-align: center; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item-title {
            margin-bottom: 40px; } }
      .service__contents .service__itemsList-item-text {
        font-size: 20px;
        color: #000;
        line-height: 1.5;
        height: 163px; }
      .service__contents .service__itemsList-item-button {
        width: 300px;
        height: 65px;
        line-height: 65px;
        margin: 0 auto;
        text-align: center;
        transition: all 0.2s;
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05); }
        .service__contents .service__itemsList-item-button:hover {
          opacity: 0.6;
          box-shadow: 0 20px 80px rgba(0, 0, 0, 0.09); }
        .service__contents .service__itemsList-item-button a {
          font-size: 20px;
          color: #000;
          font-weight: bold;
          display: block;
          width: 100%;
          height: 100%;
          font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
      .service__contents .service__itemsList-item-tag {
        width: 220px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background: #5576ff;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 14px;
        color: #fff; }
      .service__contents .service__itemsList-item-img img {
        width: 100%; }
        @media screen and (max-width: 1519px) {
          .service__contents .service__itemsList-item-img img {
            object-fit: cover;
            height: 410px;
            overflow: hidden;
            object-position: -20px 10px; } }

.service__Link-Button {
  width: 660px;
  margin: 0 auto 200px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .service__Link-Button-item {
    width: 300px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    border: 3px solid #000; }
    .service__Link-Button-item a {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
      .service__Link-Button-item a:hover {
        opacity: 0.5; }

.news {
  background: #f5f5f5;
  padding: 110px 0 200px; }
  .news .contents__title {
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 95px; }
  .news__contents {
    width: 90%;
    max-width: 1520px;
    margin: 0 auto 100px; }
    .news__contents .news__List {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .news__contents .news__List-item {
        max-width: 745px;
        width: 48%;
        background: #fff;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
        margin-bottom: 30px;
        padding-bottom: 45px;
        position: relative; }
        .news__contents .news__List-item-tag {
          position: absolute;
          left: 0;
          top: 0;
          width: 140px;
          height: 35px;
          line-height: 35px;
          text-align: center;
          font-size: 14px;
          color: #fff;
          background: #5576ff;
          z-index: 2; }
        .news__contents .news__List-item-thumbnail {
          max-height: 450px;
          margin-bottom: 25px;
          position: relative;
          text-align: center; }
          @media screen and (max-width: 1519px) {
            .news__contents .news__List-item-thumbnail {
              height: 340px;
              overflow: hidden; } }
          @media screen and (max-width: 1519px) {
            .news__contents .news__List-item-thumbnail img {
              height: 340px;
              object-fit: contain;
              object-position: center; } }
        .news__contents .news__List-item-date {
          padding: 0 30px;
          font-size: 15px;
          color: #000;
          margin-bottom: 20px; }
        .news__contents .news__List-item-title {
          padding: 0 30px;
          font-size: 30px;
          line-height: 1.6;
          margin-bottom: 15px;
          color: #000;
          font-weight: bold; }
        .news__contents .news__List-item-text {
          padding: 0 30px;
          font-size: 20px;
          color: #000;
          line-height: 1.6; }
  .news__Link-Button {
    display: flex;
    justify-content: center;
    align-items: center; }
    .news__Link-Button-item {
      width: 300px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      border: 3px solid #000; }
      .news__Link-Button-item a {
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #000;
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.3s; }
        .news__Link-Button-item a:hover {
          opacity: 0.5; }

.contact {
  background: url("../img/top/contact_bg_01.svg") repeat center;
  background-size: cover; }
  .contact .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1520px;
    margin: 0 auto;
    width: 90%;
    height: 250px; }
    @media screen and (max-width: 1519px) {
      .contact .inner {
        width: 95%; } }
    @media screen and (max-width: 414px) {
      .contact .inner {
        display: block; } }
  .contact .contents__title {
    font-size: 50px;
    font-weight: bold;
    color: #fff; }
  .contact__info {
    margin-left: 290px; }
    @media screen and (max-width: 1519px) {
      .contact__info {
        margin-left: 0; } }
    .contact__info-text {
      font-size: 20px;
      color: #fff;
      line-height: 1.3;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
    .contact__info-tel {
      font-size: 30px;
      color: #fff;
      line-height: 1.4;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
      font-weight: bold; }
      .contact__info-tel a {
        font-size: 30px;
        color: #fff;
        transition: all .3s;
        font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif; }
        .contact__info-tel a:hover {
          opacity: .4; }
  .contact__Link-Button {
    width: 309px;
    height: 65px;
    line-height: 65px;
    border: 3px solid #fff;
    text-align: center; }
    .contact__Link-Button a {
      font-size: 20px;
      font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      transition: all .3s;
      color: #fff; }
      .contact__Link-Button a:hover {
        opacity: .4; }

.footer {
  background: #5576ff;
  padding: 100px 0 30px; }
  @media screen and (max-width: 414px) {
    .footer {
      padding: 50px 0 15px; } }
  .footer__back {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #fff;
    right: -100px;
    bottom: 30px; }
    @media screen and (max-width: 1519px) {
      .footer__back {
        right: -20px; } }
    @media screen and (max-width: 414px) {
      .footer__back {
        width: 50px;
        height: 50px;
        bottom: 0;
        right: 0;
        position: fixed; } }
    .footer__back a {
      display: block;
      width: 100%;
      height: 100%;
      transition: all .3s;
      text-indent: -99999px;
      position: relative; }
      .footer__back a:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 20px;
        margin: auto;
        border-top: 3px solid #0076FF;
        border-left: 3px solid #0076FF;
        width: 20px;
        height: 20px;
        transform: rotate(45deg); }
        @media screen and (max-width: 414px) {
          .footer__back a:before {
            border-top: 2px solid #0076FF;
            border-left: 2px solid #0076FF;
            width: 15px;
            height: 15px;
            top: 15px; } }
      .footer__back a:hover {
        opacity: .4; }
  .footer .inner {
    width: 90%;
    margin: 0 auto;
    max-width: 1520px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative; }
    @media screen and (max-width: 1519px) {
      .footer .inner {
        width: 95%; } }
    @media screen and (max-width: 414px) {
      .footer .inner {
        width: 90%;
        display: block;
        max-width: inherit; } }
  .footer .footer__info {
    margin-bottom: 270px; }
    @media screen and (max-width: 1519px) {
      .footer .footer__info {
        width: 30%; } }
    @media screen and (max-width: 414px) {
      .footer .footer__info {
        width: 90%;
        margin: 0 auto;
        position: relative; } }
    .footer .footer__info-logo {
      margin-bottom: 55px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-logo {
          width: 150px;
          margin: 0 auto 45px; } }
    .footer .footer__info-name {
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 12px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-name {
          font-size: 19px;
          margin-bottom: 23px; } }
    .footer .footer__info-add {
      font-size: 20px;
      line-height: 1.5;
      color: #fff;
      margin-bottom: 45px; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-add {
          font-size: 14px;
          margin-bottom: 30px; } }
      .footer .footer__info-add span {
        display: block; }
    .footer .footer__info-Link {
      width: 300px;
      height: 65px;
      line-height: 65px;
      text-align: center;
      border: 1px solid #fff; }
      @media screen and (max-width: 414px) {
        .footer .footer__info-Link {
          width: 100%;
          margin: 0 auto 62px;
          height: 50px;
          line-height: 50px; } }
      .footer .footer__info-Link a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: #fff;
        transition: all 0.3s; }
        .footer .footer__info-Link a:hover {
          opacity: 0.5; }
  .footer__snsList {
    position: absolute;
    left: 0;
    bottom: 150px; }
    @media screen and (max-width: 414px) {
      .footer__snsList {
        position: static;
        margin-bottom: 100px;
        display: flex;
        justify-content: center; } }
    @media screen and (max-width: 414px) {
      .footer__snsList-item {
        width: 40px;
        height: 40px; } }
    .footer__snsList-item a {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
      .footer__snsList-item a:hover {
        opacity: 0.5; }
  .footer__copy {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    position: absolute;
    left: 0;
    bottom: 0; }
    @media screen and (max-width: 414px) {
      .footer__copy {
        font-size: 10px;
        text-align: center;
        position: static;
        left: inherit;
        bottom: inherit; } }
  .footer .footer__menu {
    width: 850px;
    display: flex;
    flex-wrap: wrap; }
    @media screen and (max-width: 1519px) {
      .footer .footer__menu {
        width: 65%; } }
    @media screen and (max-width: 414px) {
      .footer .footer__menu {
        width: 100%;
        display: block;
        margin-bottom: 50px; } }
    .footer .footer__menuBox {
      width: 250px;
      margin-left: 50px;
      margin-bottom: 41px; }
      @media screen and (max-width: 1519px) {
        .footer .footer__menuBox {
          width: 28%;
          margin-left: 5%; } }
      @media screen and (max-width: 414px) {
        .footer .footer__menuBox {
          width: 100%;
          margin-left: 0;
          margin-bottom: 20px; } }
      .footer .footer__menuBox:nth-child(1) {
        margin-left: 0; }
      .footer .footer__menuBox:nth-child(4) {
        margin-left: 0; }
      .footer .footer__menuBox-title {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 7px;
        margin-bottom: 10px;
        border-bottom: 1px solid #fff; }
        @media screen and (max-width: 414px) {
          .footer .footer__menuBox-title {
            padding-bottom: 20px;
            margin-bottom: 14px;
            position: relative; }
            .footer .footer__menuBox-title:before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              width: 14px;
              height: 14px;
              border-top: 1.5px solid #fff;
              transition: all 1s;
              transform: rotate(0); }
            .footer .footer__menuBox-title:after {
              content: '';
              position: absolute;
              right: -7px;
              top: -14px;
              bottom: 0;
              margin: auto;
              width: 14px;
              height: 14px;
              border-left: 1.5px solid #fff;
              transition: all 1s;
              transform: rotate(0); }
            .footer .footer__menuBox-title.on:before {
              display: none; }
            .footer .footer__menuBox-title.on:after {
              animation: menuslide .2s linear forwards; }
          @keyframes menuslide {
            0% {
              transform: rotate(0); }
            100% {
              top: 0;
              right: 0;
              transform: rotate(90deg); } } }
    @media screen and (max-width: 414px) {
      .footer .footer__menuList {
        display: none; } }
    .footer .footer__menuList-item {
      transition: all .3s; }
      .footer .footer__menuList-item:hover {
        opacity: .4; }
      .footer .footer__menuList-item a {
        font-size: 15px;
        color: #fff;
        line-height: 2;
        display: block;
        width: 100%;
        height: 100%; }
        @media screen and (max-width: 414px) {
          .footer .footer__menuList-item a {
            font-size: 14px;
            padding-left: 5%; } }
