$hiragino: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;


//form
.formPage {
  margin: 270px auto 200px;

  @include iphoneLarge {
    margin: 100px auto 200px;
  }

  &-title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 95px;
    @include iphoneLarge {
      font-size: 35px;
      margin-bottom: 47px;
    }
  }

  .form__Contents {
    .fromGroup {
      width: 501px;
      margin: 0 auto 30px;
      @include iphoneLarge {
        width: 90%;
        margin: 0 auto;
      }

      &-item {
        margin-bottom: 20px;

        label {
          font-size: 20px;
          font-weight: bold;
          font-family: $hiragino;
          margin-bottom: 8px;
          display: block;

          @include iphoneLarge {
            font-size: 14px;
            margin-bottom: 5px;
          }

          span {
            @include iphoneLarge {
              font-weight: normal;
            }
          }
        }

        &-input {
          width: 100%;

          select {
            width: 100%;
            outline: none;
            font-size: 16px;
            border: none;
            height: 50px;
            background: #EBEBEB;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            @include iphoneLarge {
              height: 35px;
            }
          }

          input {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: none;
            box-shadow: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            outline: none;
            background: #EBEBEB;
            font-size: 16px;
            @include iphoneLarge {
              height: 35px;
            }
          }

          textarea {
            resize: none;
            width: 100%;
            height: 200px;
            padding: 10px;
            border: none;
            box-shadow: none;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            outline: none;
            background: #EBEBEB;
            font-size: 16px;
            @include iphoneLarge {
              height: 150px;
            }
          }

        }
      }
    }

    .form-check {
      &-status {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        @include iphoneLarge {
          margin-bottom: 17px;
        }

        &-title {
          margin-left: 5px;
          font-size: 20px;
          font-weight: bold;
          @include iphoneLarge {
            font-size: 14px;
          }
        }
      }

      &-Button {
        width: 230px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        font-family: $hiragino;
        border: 3px solid #000;
        margin: 0 auto;
        transition: all .3s;
        @include iphoneLarge {
          width: 200px;
          font-size: 15px;
          border: 2px solid #000;
        }

        &:hover {
          opacity: .6;
          cursor: pointer;
        }
      }
    }

    .privacy {
      @include iphoneLarge {
        width: 90%;
        margin: 0 auto;
      }

      &-title {
        text-align: center;
        font-size: 20px;
        font-family: $hiragino;
        margin-bottom: 26px;
        @include iphoneLarge {
          font-size: 14px;
          line-height: 1.6;
          text-align: left;
          margin-bottom: 23px;
        }
      }

      &-modal-Button {
        width: 300px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        border: 1px solid #000;
        transition: all .3s;
        margin: 0 auto 30px;
        @include iphoneLarge {
          width: 85%;
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          margin: 0 auto 20px;
        }

        &:hover {
          cursor: pointer;
          opacity: .6;
        }
      }

      &-modal-contents {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100vh;
        z-index: 5;
        margin: auto;
        padding: 100px 0;
        overflow: scroll;
        @include iphoneLarge{
          padding: 50px 0;
        }

        .inner {
          width: 90%;
          max-width: 1290px;
          margin: 0 auto;
          padding: 100px 145px;
          background: #fff;
          @include iphoneLarge {
            max-width: inherit;
            padding: 45px 5% 100px;
          }
        }

        &-title {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.5;
          text-align: center;
          margin-bottom: 40px;
          @include iphoneLarge {
            font-size: 20px;
            margin-bottom: 35px;
          }
        }

      }

      &-modal-table {
        margin-bottom: 18px;
        @include iphoneLarge{
          margin-bottom: 76px;
        }

        tr {
          margin-bottom: 29px;
          display: block;
          @include iphoneLarge{
            margin-bottom: 19px;
          }

          th {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            text-align: left;
            @include iphoneLarge{
              font-size: 14px;
              margin-bottom: 0;
            }
          }

          td {
            font-size: 20px;
            line-height: 1.7;
            display: block;
            @include iphoneLarge{
              font-size: 14px;
            }
          }
        }
      }

      &-modal-close-Button {
        width: 250px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        font-size: 20px;
        font-family: $hiragino;
        transition: all .3s;
        border: 1px solid #707070;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
        font-weight: bold;
        @include iphoneLarge{
          width: 260px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          font-weight: normal;
        }

        &:hover {
          opacity: .7;
          cursor: pointer;
        }
      }
    }
  }
}