$hiragino: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', sans-serif;

.section__Lead {
  margin-top: 211px;
  margin-bottom: 95px;

  @include iphoneLarge {
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0;
  }

  &-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 92px;
    @include iphoneLarge {
      font-size: 35px;
      margin-bottom: 35px;
    }
  }
}

.section__menuList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1520px;
  width: 90%;
  margin: 0 auto 50px;
  border-bottom: 1px solid #C4C4C4;

  @include iphoneLarge{
    width: 100%;
    max-width: inherit;
    margin-bottom: 20px;
  }

  &-item {
    width: 240px;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    transition: all .3s;
    @include iphoneLarge{
      width: 30%;
      padding-bottom: 8px;
    }

    &:hover{
      cursor: pointer;
      opacity: .4;
    }

    &:hover:before {
      animation: lineHover .4s ease-in-out both;
    }

    &:before {
      width: 0;
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      background: #5E85FF;
      height: 5px;
    }
  }

  @keyframes lineHover {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    font-family: $hiragino;
    @include iphoneLarge{
      font-size: 12px;
    }
  }
}



.newsPage {
  margin-bottom: 200px;
  @include iphoneLarge{
    margin-bottom: 140px;
  }
  //共通コンポーネント（TOP） 各ページで調整
  .news__contents{
    margin-bottom: 70px;

    @include iphoneLarge{
      margin-bottom: 50px;
    }

    .news__List{
      &-item{
        &-thumbnail{
          @include iphoneLarge{
            height: 228px;
            img{
              height: 228px;
            }
          }
        }
      }
    }
  }
}