//-------------------------------------------------
// グリッドサイズ
//-------------------------------------------------
$pc-wide: 1519px;
$ipad-width: 1024px;
$iphone-plus: 414px;
$iphone6: 375px;
$iphone5-width: 320px;
